%section.p-3.rounded.mb-2.bg-danger-subtle
  = render("plans/cards/card_header", plan: plan)

  .mb-4
    %h4.fw-bold.mb-0.max-height-2-lines
      = plan.title

    %p.mb-0.text-dark-emphasis
      = plan.start_date.strftime("%H:%M") if plan.start_date.present?
      - if plan.end_date.present?
        to
        - if plan.start_date.strftime("%d %B %Y") != plan.end_date.strftime("%d %B %Y")
          = plan.end_date.strftime("%d %B %Y, %H:%M")
        - else
          = plan.end_date.strftime("%H:%M")

  -# Company name
  .d-flex.gap-3.align-items-center
    %i.bi.bi-building
    %p.mb-0 Company Name

  -# Start location
  .d-flex.gap-3.align-items-center
    %i.bi.bi-geo-alt
    %p.mb-0= plan.start_location_name

  -# View tickets button
  .border-top.border-secondary.mt-2.pt-3.fw-semibold
    %button.btn.d-flex.gap-3.align-items-center.p-0
      - case plan.plan_type
      - when "clubbing", "live_music", "sport_event"
        %i.bi.bi-ticket-detailed-fill
        %p.mb-0 View Tickets
      - when "restaurant"
        %i.bi.bi-bookmark-dash-fill
        %p.mb-0 View Reservation
      - else
        %i.bi.bi-receipt
        %p.mb-0 View Booking
