%section.p-3.rounded.mb-2.bg-danger-subtle
  = render("plans/cards/card_header", plan: plan)

  .mb-4
    %h4.fw-bold.mb-0.max-height-2-lines
      = plan.title

    %p.mb-0.text-dark-emphasis
      = plan.formatted_date_range

  -# Company name
  .d-flex.gap-3.align-items-center
    %i.bi.bi-building
    %p.mb-0 Company Name

  -# Start location
  .d-flex.gap-3.align-items-center
    %i.bi.bi-geo-alt
    %p.mb-0= plan.start_location_name

  -# View tickets button
  .border-top.border-secondary.mt-2.pt-3.fw-semibold
    %button.btn.d-flex.gap-3.align-items-center.p-0
      %i{ class: plan.view_icon }
      %p.mb-0= plan.view_label
