= simple_form_for(trip,
                  builder: ValidatedFormBuilder,
                  is_form_submitted: errors.present?,
                  html: { class: "d-flex flex-column gap-2", "data-turbo": "true" }) do |f|
  = f.validated_input(:title,
                      get_formatted_errors(errors, :title),
                      class: "fw-semibold",
                      placeholder: "Enter the trip title...")

  = f.validated_input(:description,
                      get_formatted_errors(errors, :description),
                      class: "fw-semibold",
                      rows: 3,
                      placeholder: "Enter the trip description...")
  // The start_date and end_date are hidden fields, updated in the background by the date range picker
  = f.input(:start_date,
            as: :string,
            input_html: { class: "d-none", id: "start_date_input" },
            label: false,
            placeholder: "Enter the trip start date...")

  = f.input(:end_date,
            as: :string,
            input_html: { class: "d-none", id: "end_date_input" },
            label: false,
            placeholder: "Enter the trip end date...")

  = render("partials/datetime_picker")

  #trip-location-autocomplete.my-1

  #map.my-1

  = f.input(:location_name,
            as: :text,
            input_html: { class: "d-none", id: "location_name_input" },
            label: false,
            placeholder: "Enter the location name...")

  = f.input(:location_latitude,
            as: :string,
            input_html: { class: "d-none", type: "number", step: "any", id: "latitude_input" },
            label: false,
            placeholder: "Enter the location latitude...")

  = f.input(:location_longitude,
            as: :string,
            input_html: { class: "d-none", type: "number", step: "any", id: "longitude_input" },
            label: false,
            placeholder: "Enter the location longitude...")

  .d-flex.justify-content-end.mt-1
    = button_tag(type: "submit", class: "btn btn-secondary fw-bold") do
      %i.bi.bi-send-fill
      &nbsp;
      Create Trip
