- unless errors.nil?
  .alert.alert-danger
    %ul.mb-0
      - errors.each do |error|
        %li= error

= simple_form_for(trip, html: { class: "d-flex flex-column" }) do |f|
  = f.input(:title,
            as: :string,
            input_html: { class: "fw-semibold my-1" },
            label: false,
            placeholder: "Enter the trip title...")

  = f.input(:description,
            as: :text,
            input_html: { class: "fw-semibold my-1", rows: 3 },
            label: false,
            placeholder: "Enter the trip description...")
  // The start_date and end_date are hidden fields, updated in the background by the date range picker
  = f.input(:start_date,
            as: :string,
            input_html: { class: "d-none", type: "datetime-local", id: "start_date" },
            label: false,
            placeholder: "Enter the trip start date...")

  = f.input(:end_date,
            as: :string,
            input_html: { class: "d-none", type: "datetime-local", id: "end_date" },
            label: false,
            placeholder: "Enter the trip end date...")

  = render("partials/datetime_picker")

  #trip-location-autocomplete.my-1

  #map.my-1

  = f.input(:location_name,
            as: :text,
            input_html: { class: "d-none", id: "location_name_input" },
            label: false,
            placeholder: "Enter the location name...")

  = f.input(:location_latitude,
            as: :string,
            input_html: { class: "d-none", type: "number", step: "any", id: "latitude_input" },
            label: false,
            placeholder: "Enter the location latitude...")

  = f.input(:location_longitude,
            as: :string,
            input_html: { class: "d-none", type: "number", step: "any", id: "longitude_input" },
            label: false,
            placeholder: "Enter the location longitude...")

  .d-flex.justify-content-end.mt-1
    = button_tag(type: "submit", class: "btn btn-secondary fw-bold") do
      %i.bi.bi-send-fill
      &nbsp;
      Create Trip
