.mb-4.d-flex.justify-content-between
  = link_to(new_trip_path, class: "btn btn-primary") do
    %i.bi.bi-plus-circle &nbsp;
    Create Trip
  %button.btn.btn-light
    %i.bi.bi-chevron-down &nbsp;
    Sort by

- if @trips.empty?
  .d-flex.flex-column.gap-4.align-items-center.justify-content-center.h-75.fs-1.text-dark-emphasis
    %i.bi.bi-postcard-heart
    .text-center
      %p.mb-0 You have no trips!
      %p.mb-0 Create a trip to get started.

- @trips.each_with_index do |trip|
  = link_to(trip_path(trip), class: "d-block link-underline link-underline-opacity-0 mb-3 link-body-emphasis") do
    %section.trip-card.d-flex.flex-column.justify-content-end.rounded-3.position-relative
      = image_tag(url_for(trip.image),
                  class: "w-100 h-100 object-fit-cover position-absolute top-0 start-0 rounded-3 z-n1")
      .overlay.w-100.h-100.position-absolute.top-0.start-0.rounded-3.z-n1

      .d-flex.justify-content-between.align-items-center.px-3.py-2.gap-4
        .text-light
          %h2.mb-0.fw-bold
            = trip.title
          %p.mb-0.fw-semibold
            = trip.formatted_date_range

        = render("partials/trips/members", members: trip.trip_memberships)
