.row
  .pb-3.d-flex.justify-content-between.align-items-start.border-bottom
    = link_to(new_trip_path,
              class: "btn btn-primary py-2",
              "aria-label": "Create Trip",
              tabindex: 0) do
      %i.bi.bi-plus-square{ "aria-hidden": "true" } &nbsp;
      Create Trip
    #view-buttons.d-flex.gap-2
      = render("partials/trips/view_buttons")

- if @trips.empty?
  = render("partials/layouts/no_data_placeholder",
           icon_class: "bi bi-luggage-fill",
           heading_text: "No Trips Created",
           sub_text: "Create a trip to start planning your next adventure!",
           button_text: "Create Trip",
           button_aria_label: "Create Trip",
           button_icon_class: "bi bi-plus-square",
           button_path: new_trip_path)

- if @trips.present?
  .row.flex-fill
    -# Render this ID always, so it can be updated by turbo stream response
    #trips-list-header
      - if params[:view] == "list"
        = render("partials/trips/trips_list_header", trips: @trips)
    #trips-view
      - if params[:view] == "map"
        = render("partials/trips/map_view", trips: @trips)

      #trip-cards.row.gy-3.flex-fill.px-0.mx-0
        - if params[:view] == "list"
          = render("partials/trips/trip_cards_list", trips: @trips)

      #pager.w-100.my-5.d-flex.justify-content-center
        - if params[:view] == "list"
          = render("partials/layouts/pager", pagy: @pagy)
