.d-flex.justify-content-between.mb-4
  .align-self-center
    %h1.mb-0.fw-bold= @trip.title
    %p.mb-0.fs-4.fw-semibold.text-secondary= @trip.formatted_date_range

  .d-flex.flex-column.align-items-end.gap-3
    = render("partials/trips/members", members: @trip.trip_memberships)

    .d-flex.gap-2
      = link_to(new_trip_plan_path(@trip), class: "btn btn-primary py-2") do
        %i.bi.bi-plus-circle &nbsp
        Add Plan

      #trip-settings.dropdown
        %button.h-100.btn.btn-secondary.dropdown-toggle.py-2{
          type: "button",
          data: {
            bs_toggle: "dropdown",
          },
          aria: {
            expanded: "false",
          },
        }
          %i.bi.bi-gear-fill &nbsp;
          Settings

        .dropdown-menu
          = link_to(edit_trip_path(@trip), class: "dropdown-item") do
            %i.bi.bi-pencil &nbsp;
            Edit Trip

          = link_to(trip_trip_memberships_path(@trip),
                    class: "dropdown-item") do
            %i.bi.bi-person-gear &nbsp;
            Manage Members

          = button_tag(class: "dropdown-item",
                       type: "button",
                       data: { bs_toggle: "modal", bs_target: "#display-name-modal" }) do
            %i.bi.bi-input-cursor-text &nbsp;
            Change Display Name

          = link_to(trip_path(@trip),
                    class: "dropdown-item text-danger",
                    method: :delete,
                    data: { confirm: "Are you sure you want to delete this trip?" }) do
            %i.bi.bi-trash &nbsp;
            Delete Trip

- if @plan_groups.empty?
  %p No plans have been added to this trip yet.
- else
  - @plan_groups.each_with_index do |(start_date, plans), index|
    %button.btn.collapse-btn.px-0.py-2.w-100.text-uppercase.text-start.text-body-secondary.fs-5.fw-semibold{
      type: "button",
      data: {
        bs_toggle: "collapse",
        bs_target: "#plans#{index}",
      },
      aria: {
        expanded: "false",
        controls: "plans#{index}",
      },
    }
      = start_date.strftime("%A %d %b")
      %i.bi.bi-chevron-up.float-end

    .collapse.show.mb-3{ id: "plans#{index}" }
      - plans.each do |plan|
        .row.mb-2
          .col-sm-2
            %p.mb-0.fw-semibold.fs-5.text-body-secondary= plan.start_date.strftime("%H:%M")
          .col
            - if plan.plan_type.starts_with?("travel_")
              = render("partials/plans/travel_card", trip: @trip, plan: plan)
            - else
              = render("partials/plans/event_card", trip: @trip, plan: plan)

#display-name-modal.modal.fade{ tabindex: "-1", aria: { labelledby: "display-name-label", hidden: "true" } }
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        %h1#display-name-label.modal-title.fs-5 Change Display Name
        %button.btn-close{ type: "button", data: { bs_dismiss: "modal" }, aria: { label: "Close" } }

      .modal-body
        = render("partials/trip_memberships/display_name_form",
                 trip: @trip,
                 trip_membership: @trip_membership,
                 errors: @trip_membership.errors)
