= simple_form_for([trip, trip_membership],
                  builder: ValidatedFormBuilder,
                  errors: errors,
                  html: { class: "d-flex flex-column gap-2 mb-4", "data-turbo": "true" }) do |f|
  = f.label(:user, class: "mb-1", for: "#user-autocomplete") do
    Username
    %abbr{ title: "required" } *

  .d-flex.gap-2.align-items-start
    .d-flex.flex-column.flex-grow-1
      #user-autocomplete{ class: get_error_class_with(errors, :user), data: { users: users.to_json } }
      = form_error_message(errors, :user)

    = button_tag(type: "submit",
                 class: "membership-button btn btn-success flex-shrink-0",
                 "aria-label": "Invite User",
                 tabindex: 0) do
      %i.bi.bi-send
      &nbsp;
      Invite

  = f.hidden_field(:username,
                   id: "trip_membership_user_id",
                   label: false)
