%button.btn.btn-secondary.review{
  id: "like-review-#{review.id}",
  tabindex: 0,
  "aria-label": "Like review by #{review.name}. #{review.engagement_counter} likes",
  "aria-describedby": "review-content-#{review.id}",
  "aria-pressed": session[:liked_reviews]&.include?(review.id) ? "true" : "false",
}
  %span.like-count= review.engagement_counter
  %i.bi{ class: session[:liked_reviews]&.include?(review.id) ? "bi-hand-thumbs-up-fill" : "bi-hand-thumbs-up" }
