.col-lg-5.m-auto
  = link_to("↵ Back", :back)

  %hr
  %h5 Avatar Image
  = simple_form_for(@current_user,
                    url: registration_avatar_path(@current_user),
                    method: :patch,
                    html: { multipart: true }) do |f|
    .form-group
      = image_tag(current_user.avatar.attached? ? current_user.avatar : current_user.avatar_url,
                  id: "avatar-preview",
                  height: 100,
                  width: 100,
                  class: "rounded")
      .my-2
        // Original file input is hidden, so a custom button can be styled
        = f.file_field(:avatar, id: "avatar-input", class: "d-none")
        %button#avatar-custom.btn.btn-secondary{ type: "button" }
          Attach Avatar
        %span#avatar-file-name No file selected
      = f.submit("Save", class: "btn btn-primary mt-1")

  - if @current_user.avatar.attached?
    = button_to("Remove Avatar Photo",
                registration_avatar_path(@current_user),
                method: :delete,
                data: { confirm: "Are you sure you want to remove your avatar photo?" },
                class: "btn btn-danger")
  %hr

  %h5 Personal Details
  = render("devise/registrations/edit", errors: @errors)

  .d-flex.align-items-center.justify-content-end
    %p= "Not satisfied?"
    = button_to("Delete your account",
                registration_path(resource_name),
                data: { confirm: "Are you sure? This action is unrecoverable and cannot be undone." },
                class: "btn btn-text text-danger text-decoration-underline",
                method: :delete)
