%h2 Edit #{resource_name.to_s.humanize}

%hr
%h5 Avatar Image
= simple_form_for(@current_user,
                  url: update_avatar_user_path(@current_user),
                  method: :patch,
                  html: { multipart: true }) do |f|
  .form-group
    = image_tag(current_user.avatar.attached? ? current_user.avatar : current_user.avatar_url,
                id: "avatar-preview",
                height: 100,
                width: 100,
                class: "rounded")
    .my-2
      // Original file input is hidden, so a custom button can be styled
      = f.file_field(:avatar, id: "avatar-input", class: "d-none")
      %button#avatar-custom.btn.btn-secondary{ type: "button" }
        Attach Avatar
      %span#avatar-file-name No file selected

    = f.submit("Save", class: "btn btn-primary mt-1")

- if @current_user.avatar.attached?
  = button_to("Remove Avatar Photo",
              destroy_avatar_user_path(@current_user),
              method: :delete,
              data: { confirm: "Are you sure you want to remove your avatar photo?" },
              class: "btn btn-danger")
%hr

%h5 Personal Details
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = f.error_notification

  .form-inputs
    = f.input(:email,
              required: true,
              autofocus: true)

    = f.input(:username,
              required: true,
              autofocus: true)

    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %p Currently waiting confirmation for: #{resource.unconfirmed_email}

    = f.input(:password,
              hint: "Leave it blank if you don't want to change it",
              required: false,
              input_html: { autocomplete: "new-password" })

    = f.input(:password_confirmation,
              required: false,
              input_html: { autocomplete: "new-password" })

    = f.input(:current_password,
              hint: "We need your current password to confirm your changes",
              required: true,
              input_html: { autocomplete: "current-password" })

  .form-actions
    = f.button(:submit, "Update", class: "btn btn-primary")

%h3 Delete my account

%div
  = button_to("Cancel my account",
              registration_path(resource_name),
              data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" },
              class: "btn btn-secondary",
              method: :delete)

= link_to("Back", :back)
