.d-flex.justify-content-between.align-items-center
  - if plan.travel_plan?
    %p.mb-0.text-white
      = plan.title.titleize
      - if plan.backup_plan?
        (Backup Plan)
  - else
    %p.mb-0.text-secondary
      = plan.plan_type.titleize
      - if plan.backup_plan?
        (Backup Plan)

  .d-flex
    -# Toggle button for backup plan
    - if plan.backup_plan.present? || plan.backup_plan?
      %button.btn.swiper-toggle-button{
        class: (plan.travel_plan? ? "text-light" : nil),
        title: "Toggle viewing backup plan",
      }
        %i.bi.bi-reply-fill

    -# Dropdown menu
    #plan-settings.dropdown
      %button.btn.px-0.py-2{ "data-bs-toggle": "dropdown", "aria-expanded": "false", title: "Plan settings" }
        %i{ class: "bi bi-three-dots-vertical #{"text-light" if plan.travel_plan?}" }

      .dropdown-menu
        - unless plan.backup_plan? || plan.backup_plan.present?
          = link_to(new_backup_plan_trip_plan_path(trip, plan),
                    class: "dropdown-item",
                    method: :get) do
            %i.bi.bi-plus-circle &nbsp;
            Add Backup Plan

        = link_to(edit_trip_plan_path(trip, plan),
                  class: "dropdown-item",
                  method: :get) do
          %i.bi.bi-pencil &nbsp;
          Edit Plan

        = link_to(trip_plan_path(trip, plan),
                  class: "dropdown-item text-danger",
                  method: :delete,
                  data: { confirm: "Are you sure you want to delete this plan?" }) do
          %i.bi.bi-trash &nbsp;
          Delete Plan
