.accordion.my-2{ id: "documents-accordion-#{plan.id}-#{plan.trip_id}" }
  .accordion-item
    .accordion-header{ id: "documents-heading" }
      %button.accordion-button.collapsed{
        type: "button",
        "data-bs-toggle": "collapse",
        "data-bs-target": "#documents-collapse-#{plan.id}-#{plan.trip_id}",
        "aria-expanded": "false",
        "aria-controls": "documents-collapse-#{plan.id}-#{plan.trip_id}",
      }
        View Documents

    .accordion-collapse.collapse{
      id: "documents-collapse-#{plan.id}-#{plan.trip_id}",
      "aria-labelledby": "documents-heading-#{plan.id}-#{plan.trip_id}",
      "data-bs-parent": "#documents-accordion-#{plan.id}-#{plan.trip_id}",
    }
      .accordion-body
        %table.table
          %tbody
            - plan.documents.each do |document|
              %tr
                %td.p-0.align-middle.w-100
                  = render("partials/plans/documents_list_item", document: document)
