= simple_form_for([trip, plan],
                  builder: ValidatedFormBuilder,
                  errors: errors,
                  html: { class: "d-flex flex-column gap-2", "data-turbo": "true" }) do |f|
  = f.validated_input(:title,
                      placeholder: "Enter the title of the plan...")
  = f.validated_select(:plan_type,
                       options_for_select(Plan.plan_types.keys.map { |name| [name.humanize.titleize, name] },
                                          selected: plan.plan_type),
                       prompt: "Select plan type",
                       required: true)

  .d-flex.flex-column.mb-3
    = f.label("Start location", class: "mb-1", for: "#start-location-autocomplete")
    #start-location-autocomplete.form-control-plaintext{ class: get_error_class_with(errors, :start_location_name) }
    = form_error_message(errors, :start_location_name)
    .valid-feedback Looks good!

  #end-location-container.d-none.d-flex.flex-column.mb-3
    = f.label("End location", class: "mb-1", for: "#end-location-autocomplete")
    #end-location-autocomplete.form-control-plaintext{ class: get_error_class_with(errors, :end_location_name) }
    = form_error_message(errors, :end_location_name)
    .valid-feedback Looks good!

  #map

  = f.validated_datetime(:start_date, required: true)
  = f.validated_datetime(:end_date, required: true)

  // QR code upload
  = f.label("Upload scannable tickets (QR codes)", class: "mb-1", for: "#qr_codes_upload")

  // The data shown on the form is very verbose right now, will change to a more user-friendly format
  // when we finalise the design, all possible elements are included here for future reference

  #qr-codes-found.d-none
  #qr-results.d-none
  #qr-codes-container.d-flex.justify-content-between.align-items-center.d-none
    .d-flex.flex-column
      #qr-canvas-container.d-none
      #qr-navigation.mt-1.text-center.d-none
        %button#prev-btn.btn.btn-secondary{ type: "button", disabled: true } ← Prev
        %span#qr-counter.mx-3
        %button#next-btn.btn.btn-secondary{ type: "button", disabled: true } Next →


  // f.file_field is not used as QR code images are not uploaded, instead the code values are
  = file_field_tag("qr_codes_upload", multiple: true, accept: "image/*", class: "form-control")
  // QR code values are stored in a hidden field, and are used to create ScannableTickets in the controller
  = hidden_field_tag(:scannable_tickets)

  = f.button(:submit, "Save", class: "btn btn-primary fw-semibold")

  = f.hidden_field(:start_location_name,
                   id: "start_location_name_input")
  = f.hidden_field(:end_location_name,
                   id: "end_location_name_input")
  = f.hidden_field(:start_location_latitude,
                   id: "start_location_latitude_input")
  = f.hidden_field(:start_location_longitude,
                   id: "start_location_longitude_input")
  = f.hidden_field(:end_location_latitude,
                   id: "end_location_latitude_input")
  = f.hidden_field(:end_location_longitude,
                   id: "end_location_longitude_input")

- if plan.scannable_tickets.any?
  %h4.fw-semibold Scannable tickets
  = render("partials/plans/scannable_tickets_list", plan: plan)
