= simple_form_for([trip, plan],
                  builder: ValidatedFormBuilder,
                  errors: errors,
                  html: { class: "d-flex flex-column gap-2", "data-turbo": "true", "data-controller": "plan-form" },
                  multipart: true) do |f|
  = f.validated_input(:title,
                      placeholder: "Enter the title of the plan...")

  = f.validated_select(:plan_type,
                       options_for_select(Plan.plan_types.keys.map { |name| [name.humanize.titleize, name] },
                                          selected: plan.plan_type),
                       prompt: "Select plan type",
                       required: true)

  #provider-name-container
    = f.validated_input(:provider_name,
                        placeholder: "Enter business or provider name...")

  .d-flex.flex-column.mb-3
    = label_tag(:start_date) do
      Times
      %abbr{ title: "required" } *
    #single-day-toggle-container.form-check.form-switch
      %input#single-day-switch.form-check-input{ type: "checkbox", checked: plan.single_day? }
      = label_tag("No end time?")
    = render("partials/datetime_picker", errors: errors)

  #start-location-container.d-flex.flex-column.mb-3
    // The asterisk (*) is mocked here as the autocomplete fills out hidden fields and is not TECHNICALLY required.
    = label_tag(:start_location_name, class: "mb-1", for: "start-location-autocomplete") do
      Start location
      %abbr{ title: "required" } *

    #start-location-autocomplete{ class: get_error_class_with(errors, :start_location_name) }
    = form_error_message(errors, :start_location_name)
    .valid-feedback Looks good!

  #end-location-container.d-none.d-flex.flex-column.mb-3
    = f.label("End location", class: "mb-1", for: "#end-location-autocomplete")
    #end-location-autocomplete{ class: get_error_class_with(errors, :end_location_name) }
    = form_error_message(errors, :end_location_name)
    .valid-feedback Looks good!

  #plan-form-map.form-map

  #tickets-container
    = render("partials/plans/documents_input", f: f, plan: plan)
    = render("partials/plans/qr_codes_input", f: f, plan: plan)
    = render("partials/plans/booking_references_input", f: f, plan: plan)
    = render("partials/plans/ticket_links_input", f: f, plan: plan)

  .d-flex.justify-content-end.mt-2
    = button_tag(type: "submit", class: "btn btn-primary flex-grow-1 flex-md-grow-0 fw-bold") do
      %i.bi.bi-send-fill
      &nbsp;
      Save Plan

  = f.hidden_field(:start_location_name,
                   id: "start_location_name_input")
  = f.hidden_field(:end_location_name,
                   id: "end_location_name_input")
  = f.hidden_field(:start_location_latitude,
                   id: "start_location_latitude_input")
  = f.hidden_field(:start_location_longitude,
                   id: "start_location_longitude_input")
  = f.hidden_field(:end_location_latitude,
                   id: "end_location_latitude_input")
  = f.hidden_field(:end_location_longitude,
                   id: "end_location_longitude_input")
  = f.hidden_field(:start_date,
                   id: "start_date_input",
                   label: false,
                   placeholder: "Enter the trip start date...")
  = f.hidden_field(:end_date,
                   id: "end_date_input",
                   label: false,
                   placeholder: "Enter the trip end date...")

  - if defined?(primary_plan)
    = f.hidden_field(:primary_plan_id, value: primary_plan.id)

- if plan.documents.attached?
  %h4.fw-semibold Documents
  = render("partials/plans/documents_list", plan: plan)

- if plan.scannable_tickets.any?
  %h4.fw-semibold Scannable tickets
  = render("partials/plans/scannable_tickets_list", plan: plan)
