= simple_form_for([trip, plan],
                  builder: ValidatedFormBuilder,
                  errors: errors,
                  html: { class: "d-flex row gap-2 mt-3", "data-turbo": "true", "data-controller": "plan-form" },
                  multipart: true) do |f|
  - if backup_plan
    %p.fw-semibold.fst-italic * Start and end dates cannot be changed for backup plans.

  = f.validated_input(:title,
                      placeholder: "What are you planning?",
                      "aria-label": "Plan Title",
                      required: true,
                      maxlength: 250,
                      tabindex: 0)

  = f.validated_select(:plan_type,
                       options_for_select(Plan.plan_types.keys.map { |name| [name.humanize.titleize, name] },
                                          selected: plan.plan_type),
                       prompt: "Select the type of plan you are adding",
                       required: true,
                       "aria-label": "Plan Type",
                       tabindex: 0)

  #provider-name-container
    = f.validated_input(:provider_name,
                        placeholder: "Enter business or provider name...",
                        "aria-label": "Business or provider name",
                        tabindex: 0)

  #start-location-container.d-flex.flex-column.mb-3
    // The asterisk (*) is mocked here as the autocomplete fills out hidden fields and is not TECHNICALLY required.
    = label_tag(:start_location_name, class: "mb-1", for: "start-location-autocomplete") do
      Start location
      %abbr{ title: "required" } *

    #start-location-autocomplete{ class: get_error_class_with(errors, :start_location_name) }
    = form_error_message(errors, :start_location_name)
    .valid-feedback Looks good!

  #end-location-container.d-none.d-flex.flex-column.mb-3
    = f.label("End location", class: "mb-1", for: "#end-location-autocomplete")
    #end-location-autocomplete{ class: get_error_class_with(errors, :end_location_name) }
    = form_error_message(errors, :end_location_name)
    .valid-feedback Looks good!

  #plan-form-map.form-map.p-0
    = render("partials/trips/form_map_overlay")

  = render("partials/datetime_pickers/separate",
           errors: errors,
           read_only: backup_plan,
           min_date: trip.start_date,
           max_date: trip.end_date)

  #tickets-container
    = render("partials/plans/documents_input", f: f, plan: plan)
    = render("partials/plans/qr_codes_input", f: f, plan: plan)
    = render("partials/plans/booking_references_input", f: f, plan: plan)
    = render("partials/plans/ticket_links_input", f: f, plan: plan)

  .d-flex.justify-content-start.mt-2.mb-4
    = button_tag(type: "submit",
                 class: "btn btn-primary flex-grow-1 flex-md-grow-0",
                 "aria-label": "Save Plan",
                 tabindex: 0) do
      %i.bi.bi-send &nbsp;
      Save Plan

  = f.hidden_field(:start_location_name,
                   id: "start_location_name_input")
  = f.hidden_field(:end_location_name,
                   id: "end_location_name_input")
  = f.hidden_field(:start_location_latitude,
                   id: "start_location_latitude_input")
  = f.hidden_field(:start_location_longitude,
                   id: "start_location_longitude_input")
  = f.hidden_field(:end_location_latitude,
                   id: "end_location_latitude_input")
  = f.hidden_field(:end_location_longitude,
                   id: "end_location_longitude_input")
  = f.hidden_field(:start_date,
                   id: "start_date_input",
                   label: false,
                   placeholder: "Enter the trip start date...")
  = f.hidden_field(:end_date,
                   id: "end_date_input",
                   label: false,
                   placeholder: "Enter the trip end date...")

  - if defined?(primary_plan)
    = f.hidden_field(:primary_plan_id, value: primary_plan.id)

- if plan.documents.attached? || plan.scannable_tickets.any?
  .mb-4
    %hr.mt-0
    - if plan.documents.attached?
      = render("partials/plans/documents_list", plan: plan)

    - if plan.scannable_tickets.any?
      = render("partials/plans/scannable_tickets_list", plan: plan)
