- plan_groups.each_with_index do |(start_date, plans), index|
  %button.btn.collapse-btn.px-0.py-2.w-100.text-uppercase.text-start.text-body-secondary.fs-5.fw-semibold{
    type: "button",
    data: {
      bs_toggle: "collapse",
      bs_target: "#plans#{index}",
    },
    aria: {
      expanded: "false",
      controls: "plans#{index}",
    },
  }
    = start_date.strftime("%A %d %b")
    %i.bi.bi-chevron-up.float-end

  .collapse.show.mb-3{ id: "plans#{index}" }
    - plans.each do |plan|
      .row.mb-2
        .col-sm-2
          %p.mb-0.fw-semibold.fs-5.text-body-secondary= plan.start_date.strftime("%H:%M")
        .col
          - if plan.plan_type.starts_with?("travel_")
            = render("partials/plans/travel_card", trip: trip, plan: plan)
          - else
            = render("partials/plans/event_card", trip: trip, plan: plan)
