= render("partials/plans/ticket_accordion",
         title: "Add Ticket Links",
         accordion_id: "accordion-ticket-links",
         collapse_id: "collapse-ticket-links",
         heading_id: "heading-ticket-links",
         aria_label: "Toggle ticket links input",
         icon_class: "bi bi-link-45deg") do
  .accordion-body
    #ticket-links-container.d-flex.flex-column.gap-2{ "data-controller": "ticket-links" }
      .row.row-gap-3
        .col-12.col-md-6
          = label_tag(:ticket_link_name, "Name", class: "plan-label")
          = text_field_tag(:ticket_link_name,
                           nil,
                           placeholder: "Name",
                           class: "form-control flex-grow-1",
                           "data-ticket-links-target": "name")
        .col-12.col-md-6
          = label_tag(:ticket_link_url, "URL", class: "plan-label")
          = text_field_tag(:ticket_link_url,
                           nil,
                           placeholder: "URL",
                           class: "form-control flex-grow-1",
                           "data-ticket-links-target": "url")
      .d-flex.mt-2
        = button_tag(type: "button",
                     class: "btn btn-primary d-flex align-items-center gap-1",
                     "data-action": "ticket-links#addLink",
                     "aria-label": "Add ticket link") do
          %i.bi.bi-plus-square &nbsp;
          Add Ticket Link


      .row
        .col
          %small.text-danger.mt-1{ "data-ticket-links-target" => "warning" }
        = hidden_field_tag(:ticket_links_data,
                           ticket_link_value(params[:ticket_links_data], plan),
                           data: { ticket_links_target: "dataField" })

      %table.table.d-none{ "data-ticket-links-target": "table" }
        %thead
          %tr
            %th Name
            %th URL
            %th Actions
        %tbody{ "data-ticket-links-target": "tbody" }
          // Table rows are inserted by Stimulus controller (packs/scripts/controllers/ticket-links-controller.js)
