.card.bg-body-darken
  .card-body
    = render("partials/plans/card_header", trip: trip, plan: plan)

    -# Start location and date
    .row.align-items-start.mb-3
      .col
        %h2.fs-4.mb-0.max-height-2-lines= plan.start_location_name

      -# Travel icon
      .col-auto.px-4
        %h2.text-secondary
          %i{ class: plan.travel_icon }

      -# End location and date
      .col
        %h2.fs-4.mb-0.text-end.max-height-2-lines= plan.end_location_name

    -# Provider name
    - if plan.provider_name.present?
      .d-flex.gap-3.align-items-center
        %i.bi.bi-building-fill
        %p.mb-0= plan.provider_name

  - if plan.any_tickets?
    = render("partials/plans/view_tickets_button", trip: trip, plan: plan)
