%section.row.align-items-center
  = render("partials/layouts/page_title", page_title: "Referrals Analytics")
  = render("partials/analytics/reporter_dashboard_filter_tabs")
  .tab-content
    #today-tab.tab-pane.show.active
      = render("partials/analytics/user_analytics_card_tab",
               referrals: @referrals[:today],
               new_users: @new_users[:today],
               time_period: "Today")
    #week-tab.profile.tab-pane
      = render("partials/analytics/user_analytics_card_tab",
               referrals: @referrals[:this_week],
               new_users: @new_users[:this_week],
               time_period: "This Week")
    #month-tab.tab-pane
      = render("partials/analytics/user_analytics_card_tab",
               referrals: @referrals[:this_month],
               new_users: @new_users[:this_month],
               time_period: "This Month")
    #all-time-tab.tab-pane
      = render("partials/analytics/user_analytics_card_tab",
               referrals: @referrals[:all_time],
               new_users: @new_users[:all_time],
               time_period: "All Time")
  %hr.mt-3
  %h2.fs-4.mt-3
    %i.bi.bi-database-add &nbsp;
    Referrals Per User

  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th.very-thin-column #
          %th.wide-column Username
          %th Referrals
      %tbody#referrals-table
        = render("partials/analytics/referrals_table_rows", users: @users)

  = render("partials/layouts/desktop_pager", pagy: @pagy)
