.d-flex.flex-column.align-items-center.text-center
  .error-icon
    %i{ class: icon_class }
  %h1= title
  %p= message
  = link_to(button_path,
            class: "btn btn-secondary",
            "aria-label": button_text,
            tabindex: 0) do
    %i.bi.bi-house-fill{ "aria-hidden": "true" } &nbsp;
    = button_text
  %p.mt-3.text-secondary
    %i.bi.bi-info-circle{
      data: {
        bs_toggle: "tooltip",
        bs_placement: "bottom",
        bs_title: "Include this status code if you need help from support",
      },
      "aria-hidden": "true",
    } &nbsp;
    Response Status Code
    %span.font-monospace
      = status_code
