%h1.fw-bold.display-6.mb-3 Admin Dashboard
.d-flex.gap-4
  = link_to("Manage Reviews", manage_admin_reviews_path, class: "btn btn-secondary")
  = link_to("Manage Questions", manage_admin_questions_path, class: "btn btn-secondary")

%hr.mt-3
%h4.fw-semibold.mt-3
  %i.bi.bi-person-fill &nbsp;
  My Account

%p
  %span.fw-bold Email:
  = current_user.email
%p
  %span.fw-bold Role:
  = current_user.show_role

%hr.mt-3
%h4.fw-semibold.mt-3
  %i.bi.bi-person-fill-add &nbsp;
  Create Staff Account

= turbo_frame_tag("new_user") do
  = form_with(model: @user,
              url: invitation_path(:user),
              method: :post,
              builder: ValidatedFormBuilder,
              is_form_submitted: @errors.present?,
              html: { id: "new_user", novalidate: true },
              class: "mt-0 row g-3 align-items-top") do |f|
    .col-12.col-sm-8
      = f.validated_input(:email,
                          get_formatted_errors(@errors, :email),
                          placeholder: "Email address")
    .col-12.col-sm-4
      = f.validated_select(:user_role,
                           options_for_select(User.user_roles.values, selected: @user.user_role&.titleize),
                           get_formatted_errors(@errors, :user_role),
                           include_blank: "Role")
    .form-actions
      = f.submit("Send Invitation", class: "btn btn-primary")
  %div{ data: { "turbo-toast": true, "notifications": flash[:notifications].to_json } }
  - flash.discard(:notifications)

%hr.mt-3
%h4.fw-semibold.mt-3
  %i.bi.bi-people-fill &nbsp;
  Staff Accounts

.table-responsive
  %table#staff-table.table.table-striped
    %thead
      %tr
        %th{ scope: "col" } #
        %th{ scope: "col" } Email Address
        %th{ scope: "col" } User Role
        %th.text-center{ scope: "col" } Invitation Accepted
        %th{ scope: "col" }
    %tbody
      - @users.each_with_index do |user, index|
        %tr
          %th{ scope: "row" }= index + 1
          %td= user.email
          %td= user.show_role
          %td.text-center
            - if user.invitation_accepted?
              %i.bi.bi-check-circle
            - else
              %i.bi.bi-x-circle
          %td
            = link_to("View Account", edit_admin_staff_path(user))

%hr.mt-3
%h4.fw-semibold.mt-3
  %i.bi.bi-bar-chart-line-fill &nbsp;
  Registrations

- if @registrations.blank?
  %p No registrations have been made yet.
- else
  .table-responsive
    %table#registrations-table.table.table-striped
      %thead
        %tr
          %th{ scope: "col" } #
          %th{ scope: "col" } Timestamp
          %th{ scope: "col" } Email
          %th{ scope: "col" } Country
          %th{ scope: "col" }
      %tbody
        - @registrations.each_with_index do |registration, index|
          %tr
            %th{ scope: "row" }= index + 1
            %td= registration.formatted_timestamp
            %td= registration.email
            %td= registration.formatted_country_name
            %td
              = link_to("View Journey", admin_registration_path(registration.id))
