%h1.fw-bold.display-6.mb-3 Admin Dashboard
.d-flex.gap-4
  = link_to("Manage Reviews", manage_admin_reviews_path, class: "btn btn-secondary")
  = link_to("Manage Questions", manage_admin_questions_path, class: "btn btn-secondary")

%hr.mt-3
%h4.fw-semibold.mt-3
  %i.bi.bi-person-fill &nbsp;
  My Account

%p
  %span.fw-bold Email:
  = current_user.email
%p
  %span.fw-bold Role:
  = current_user.show_role

%hr.mt-3
%h4.fw-semibold.mt-3
  %i.bi.bi-person-fill-add &nbsp;
  Create Staff Account

= render("admin/dashboard/invite_form", user: @user, errors: @errors)

%hr.mt-3
%h4.fw-semibold.mt-3
  %i.bi.bi-people-fill &nbsp;
  Staff Accounts

.table-responsive
  %table#staff-table.table.table-striped
    %thead
      %tr
        %th{ scope: "col" } #
        %th{ scope: "col" } Email Address
        %th{ scope: "col" } User Role
        %th.text-center{ scope: "col" } Invitation Accepted
        %th{ scope: "col" }
    %tbody#staff-table-body
      - @users.each do |user|
        = render("admin/dashboard/staff_row", user: user)

%hr.mt-3
%h4.fw-semibold.mt-3
  %i.bi.bi-bar-chart-line-fill &nbsp;
  Registrations

- if @registrations.blank?
  %p No registrations have been made yet.
- else
  .table-responsive
    %table#registrations-table.table.table-striped
      %thead
        %tr
          %th{ scope: "col" } #
          %th{ scope: "col" } Timestamp
          %th{ scope: "col" } Email
          %th{ scope: "col" } Country
          %th{ scope: "col" }
      %tbody
        - @registrations.each_with_index do |registration, index|
          %tr
            %th{ scope: "row" }= index + 1
            %td= registration.formatted_timestamp
            %td= registration.email
            %td= registration.formatted_country_name
            %td
              = link_to("View Journey", admin_registration_path(registration.id))
