%h1.d-flex.justify-content-center
  Admin Dashboard

.d-flex.justify-content-end
  = link_to(manage_admin_reviews_path) do
    Manage Reviews

.d-flex.justify-content-end
  = link_to(manage_admin_questions_path) do
    Manage Questions

%hr
%h4 My Account

%p
  %span.fw-bold User:
  = current_user.email

%p
  %span.fw-bold Role:
  = current_user.show_role

%hr
%h4 Create a Staff Account

= form_with(model: User.new, url: invitation_path(:user), method: :post, class: "d-flex gap-3") do |f|
  .form-group.mb-0
    = f.email_field(:email,
                    placeholder: "Email address",
                    required: true,
                    class: "form-control")

  .form-group.mb-0
    = f.select(:user_role,
               options_for_select(User.user_roles.keys.map(&:humanize)),
               { include_blank: "Role" },
               { class: "form-select form-control w-auto", required: true })

  .form-actions
    = f.submit("Send Invitation", class: "btn btn-primary")

%hr
%h4 Staff Accounts

%table.table
  %thead
    %tr
      %th{ scope: "col" }
      %th{ scope: "col" } Email Address
      %th{ scope: "col" } User Role
      %th{ scope: "col" } Invitation Accepted
      %th{ scope: "col" }
  %tbody
    - @users.each do |user|
      - next if current_user.email == user.email

      %tr
        %th{ scope: "row" }
        %td= user.email
        %td= user.show_role
        %td
          - if user.invitation_accepted?
            &#x2714;
          - else
            &#10008;
        %td
          = link_to("View Account", edit_admin_staff_path(user))
