%h1 Admin Dashboard

%p User: #{current_user.email}
%p Role: #{current_user.show_role}

%h3 Send Magic Login Link

= form_with(url: send_magic_link_path, method: :post) do |f|
  .form-inputs
    = f.email_field(:email,
                    placeholder: "Enter your email",
                    required: true)

    = f.select(:user_role,
               options_for_select(User.user_roles.values),
               { include_blank: "Role" },
               { required: true })

  .form-actions
    = f.submit("Send Magic Link")
