.mb-4
  %h1 Manage Reviews
  = link_to("dashboard") do
    Back to admin dashboard



.d-flex.gap-2.justify-content-between.align-items-center
  %h2
    Visible Reviews
    %span#visible-count.badge.rounded-pill.text-bg-secondary.fs-5.align-middle= @visible_reviews.count

  = form_tag(update_orders_path, method: :post) do
    = button_tag(type: "submit", class: "btn btn-primary fw-bold") do
      %i.bi.bi-floppy
      &nbsp;
      Save Changes

= render("review-card", reviews: @visible_reviews, hidden: false)

%h2
  Hidden Reviews
  %span#hidden-count.badge.rounded-pill.text-bg-secondary.fs-5.align-middle= @hidden_reviews.count
= render("review-card", reviews: @hidden_reviews, hidden: true)
