= form_with(url: answer_api_question_path(item),
            method: :post,
            builder: ValidatedFormBuilder,
            id: "answer-form-#{item.id}",
            class: "mb-0 flex-grow") do |f|
  = f.validated_input(:answer,
                      as: :text,
                      disabled: true,
                      value: item.subcontent,
                      placeholder: "[Unanswered]",
                      id: "answer_#{item.id}",
                      class: "card-text fw-bold",
                      input_class: "form-control-plaintext fw-bold text-secondary resize-none pe-auto",
                      data: { default_value: item.subcontent },
                      "aria-label": "Answer Question",
                      "aria-describedby": "item-content-#{item.id}")
  = button_tag(type: "submit",
               class: "btn btn-secondary d-none mt-3",
               "aria-label": "Submit Answer") do
    %i.bi.bi-send-fill
    &nbsp;
    Submit Answer
