= simple_form_for(trip,
                  builder: ValidatedFormBuilder,
                  html: { class: "d-flex row gap-2 mt-3", "data-turbo": "true", "data-controller": "trip-form" },
                  errors: errors) do |f|
  = f.validated_input(:title,
                      placeholder: "Enter the title of the trip...",
                      "aria-label": "Trip Title",
                      tabindex: 0,
                      required: true,
                      maxlength: 30)
  = f.validated_input(:description,
                      rows: 3,
                      placeholder: "Enter the trip description...",
                      "aria-label": "Trip Description",
                      tabindex: 0,
                      required: true,
                      maxlength: 500)

  = f.hidden_field(:start_date,
                   id: "start_date_input",
                   label: false,
                   placeholder: "Enter the trip start date...")

  = f.hidden_field(:end_date,
                   id: "end_date_input",
                   label: false,
                   placeholder: "Enter the trip end date...")

  .d-flex.flex-column.mb-3
    = f.label(:location, for: "trip-location-autocomplete") do
      Trip location
      %abbr{ title: "required" } *

    #trip-location-autocomplete.form-control-plaintext{ class: get_error_class_with(errors, :location) }
    = form_error_message(errors, :location)
    .valid-feedback Looks good!

  #trip-form-map.form-map.position-relative.px-0
    = render("partials/trips/form_map_overlay")

  .d-flex.flex-column.mb-3
    %label{ for: "datetimepicker-input" }
      Dates
      %abbr{ title: "required" } *
    .form-check.form-switch
      %input#single-day-switch.form-check-input{ type: "checkbox", checked: trip.single_day? }
      = label_tag("Single Day Trip?")
    = render("partials/datetime_pickers/combined", errors: errors)

  = f.hidden_field(:location_name,
                   id: "trip_location_name_input")

  = f.hidden_field(:location_latitude,
                   id: "trip_location_latitude_input")

  = f.hidden_field(:location_longitude,
                   id: "trip_location_longitude_input")

  .d-flex.flex-column.my-3{ data: { controller: "custom-image" } }
    = f.label("Upload new trip image (optional)", for: "image-input")
    .form-text.text-muted
      Only WebP, JPG and PNG image files are supported
    .mb-1
      .mb-0{ class: get_error_class_with(errors, :image) }
      = form_error_message(errors, :image)
      .valid-feedback.mb-1 Please resubmit image
    = f.file_field(:image,
                   id: "image-input",
                   class: "d-none",
                   accept: "image/png, image/jpeg, image/jpg, image/webp",
                   data: { "custom-image-target": "browseButton" })
    .d-flex.align-items-center.flex-wrap
      %button.btn.btn-secondary.d-inline-flex.align-items-center.align-self-start.text-nowrap{
        type: "button",
        data: { "custom-image-target": "customButton" },
        "aria-label": "Attach New Trip Image",
        "aria-describedby": "file-upload-status",
        tabindex: 0,
      }
        %i.bi.bi-paperclip
        &nbsp;
        Attach New Trip Image

      %span#file-upload-status.ms-3{ data: { "custom-image-target": "fileNameSpan" } }
        %i.bi.bi-exclamation-circle{ "aria-hidden": "true" } &nbsp;
        No file selected
    // Only show preview image if the preview actually exists, which is false for incomplete trip
    - if trip.image.attached? && File.file?(ActiveStorage::Blob.service.path_for(trip.image.key))
      = blurhash_image_tag(trip.image, class: "trip-image-preview", data: { "custom-image-target": "preview" })
    - else
      = image_tag("",
                  class: "trip-image-preview d-none",
                  data: { "custom-image-target": "preview" })
  .d-flex.justify-content-start.mt-2.mb-4
    = button_tag(type: "submit",
                 class: "btn btn-primary flex-grow-1 flex-md-grow-0",
                 "aria-label": "Save Trip",
                 tabindex: 0) do
      %i.bi.bi-send &nbsp;
      Save Trip
