= simple_form_for(trip,
                  builder: ValidatedFormBuilder,
                  html: { class: "d-flex row gap-2 mt-3", "data-turbo": "true", "data-controller": "trip-form" },
                  errors: errors) do |f|
  = f.validated_input(:title,
                      placeholder: "Enter the title of the trip...")
  = f.validated_input(:description,
                      rows: 3,
                      placeholder: "Enter the trip description...")

  // The start_date and end_date are hidden fields, updated in the background by the date range picker
  = f.hidden_field(:start_date,
                   id: "start_date_input",
                   label: false,
                   placeholder: "Enter the trip start date...")

  = f.hidden_field(:end_date,
                   id: "end_date_input",
                   label: false,
                   placeholder: "Enter the trip end date...")

  = render("partials/datetime_picker", errors: errors)

  .d-flex.flex-column.mb-3
    = f.label("Trip location", for: "#trip-location-autocomplete")
    #trip-location-autocomplete.form-control-plaintext{ class: get_error_class_with(errors, :location) }
    = form_error_message(errors, :location)
    .valid-feedback Looks good!

  #trip-form-map.form-map.position-relative.px-0
    = render("partials/trips/form_map_overlay")

  = f.hidden_field(:location_name,
                   id: "trip_location_name_input")

  = f.hidden_field(:location_latitude,
                   id: "trip_location_latitude_input")

  = f.hidden_field(:location_longitude,
                   id: "trip_location_longitude_input")

  .d-flex.flex-column.mb-3{ data: { controller: "custom-image" } }
    = f.label("Upload new trip image", for: "image-input")

    .mb-1
      .mb-0{ class: get_error_class_with(errors, :image) }
      = form_error_message(errors, :image)
      .valid-feedback.mb-1 Please resubmit image

    = f.file_field(:image,
                   id: "image-input",
                   class: "d-none",
                   accept: "image/png, image/jpeg, image/jpg",
                   data: { "custom-image-target": "browseButton" })

    %button.btn.btn-secondary.d-inline-flex.align-items-center.align-self-start{
      type: "button",
      data: { "custom-image-target": "customButton" },
    }

      %i.bi.bi-paperclip
      &nbsp;
      Attach New Trip Image

    %span{ data: { "custom-image-target": "fileNameSpan" } } No file selected

    // Only show preview inage if the preview actually exists, which is false for incomplete trip
    - if trip.image.attached? && File.file?(ActiveStorage::Blob.service.path_for(trip.image.key))
      = image_tag(trip.image, class: "trip-image-preview", data: { "custom-image-target": "preview" })
    - else
      = image_tag("", class: "trip-image-preview d-none", data: { "custom-image-target": "preview" })

  .d-flex.justify-content-end.mt-2
    = button_tag(type: "submit", class: "btn btn-primary flex-grow-1 flex-md-grow-0") do
      %i.bi.bi-send-fill
      &nbsp;
      Save Trip
