= link_to(trip_path(trip),
          class: "text-decoration-none trip-card-container",
                   "aria-labelledby": "trip-title-#{trip.id}",
                   "aria-describedby": "trip-date-#{trip.id}",
                   tabindex: 0) do
  .trip-card.d-flex.flex-column.justify-content-end.rounded-3.position-relative
    = image_tag(url_for(trip.image.variant(resize_to_limit: [500, 500], convert: :webp, format: :webp)),
                class: "w-100 h-100 object-fit-cover position-absolute top-0 start-0 rounded-3 z-n1",
                alt: "")
    .overlay.w-100.h-100.position-absolute.top-0.start-0.rounded-3.z-n1

    .d-flex.flex-column.mx-3.mb-2
      .text-light
        %h2.trip-title.mb-0{ id: "trip-title-#{trip.id}", role: "presentation", "aria-hidden": "false" }
          %span.visually-hidden View
          = trip.title
        .trip-card-details.d-flex.flex-row.justify-content-between.align-items-start
          %p.mb-0.fw-semibold{ id: "trip-date-#{trip.id}" }
            %span.visually-hidden On the
            = trip.formatted_date_range
          = render("partials/trips/members", members: trip.trip_memberships)
