.col-lg-5.m-auto
  %h2.mt-3 Change Your Password

  = simple_form_for(resource,
                    as: resource_name,
                    url: password_path(resource_name),
                    builder: ValidatedFormBuilder,
                    errors: resource.errors.to_hash(true),
                    html: { method: :put }) do |f|
    .form-inputs
      = f.input(:reset_password_token, as: :hidden)

      = f.validated_input(:password,
                          label: "New Password",
                          required: false,
                          autocomplete: "new-password")

      = f.validated_input(:password_confirmation,
                          label: "New Password Confirmation",
                          required: false,
                          autocomplete: "new-password")

    .form-actions.mt-4.d-flex.justify-content-end.gap-2
      = f.button(:submit, "Reset Password", class: "btn-primary px-4")

  = render("partials/devise/shared/links")
