%nav#topbar.navbar.d-sm-none.border-bottom.sticky-top.px-3
  .col.d-flex.justify-content-start
    = link_to(root_path, class: "nav-link") do
      .position-relative
        %i.bi.bi-inbox.h1
        - if inbox_count&.nonzero?
          .position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.text-bg-danger
            = inbox_count
  .col.d-flex.justify-content-center
    = link_to(root_path) do
      = image_pack_tag("images/roamio_brand_icon_d_grey.png", height: 36)
  .col.d-flex.justify-content-end
    = render("partials/layouts/navbar_user_dropdown")
.container.pt-3
  = yield
%nav#bottombar.navbar.d-sm-none.bg-light.border-top.fixed-bottom.px-3
  %ul.nav.w-100
    = navbar_link_to("Home", "bi-house", home_path)
    = navbar_link_to("Add", "bi-plus-square", root_path)
    = navbar_link_to("Trips", "bi-map", trips_path)
