%nav#topbar.navbar.d-sm-none.border-bottom.fixed-top.px-3
  .col.d-flex.justify-content-start
    %ul.nav
      = navbar_link_to("Inbox", "bi-inbox", inbox_path, inbox_count)
  .col.d-flex.justify-content-center
    = link_to(root_path, "aria-label": "Home", tabindex: 0) do
      = image_pack_tag("images/roamio_brand_icon_white.webp",
                       height: 36,
                       width: 40,
                       "aria-hidden": "true",
                       alt: "Roamio Logo")
  .col.d-flex.justify-content-end
    = render("partials/layouts/navbar_user_dropdown")
#container-parent.position-relative.d-flex.flex-column
  .container.pt-3.d-flex.flex-column.flex-fill
    = yield
%nav#bottombar.navbar.d-sm-none.bg-light.border-top.fixed-bottom.px-3
  %ul.nav.w-100
    = render("partials/layouts/navigation_links")
