.col-lg-6.m-auto
  %p
    = link_to("↵ Back to Dashboard", admin_dashboard_path)

  %h1 Edit User
  %hr

  %p
    - unless @user.invitation_accepted?
      - flash.now["alert"] = "Account has not been activated by #{@user.email}."

  %p
    %span.fw-bold Account Email:
    #{@user.email}

  = render("admin/staff/edit", user: @user, errors: @errors)

  %hr
  .d-flex.justify-content-end
    - confirm_msg = "Are you sure you want to remove access for #{@user.email}?"
    = button_to("Remove Access",
                api_staff_path(@user),
                method: :delete,
                form: { data: { turbo: "true", turbo_confirm: confirm_msg } },
                class: "btn btn-outline-danger d-flex justify-content-end")
