%section.row.align-items-center
  = render("partials/layouts/page_title", page_title: "Reporter Dashboard")
  = render("partials/reporter/reporter_dashboard_hero_tab",
           landing_page_visits_today: @landing_page_visits_today,
           registrations_today: @registrations_today,
           landing_page_visits_this_week: @landing_page_visits_this_week,
           registrations_this_week: @registrations_this_week,
           landing_page_visits_this_month: @landing_page_visits_this_month,
           registrations_this_month: @registrations_this_month,
           landing_page_visits_all_time: @landing_page_visits_all_time,
           registrations_all_time: @registrations_all_time)
  %hr.mt-3
  %h2.fs-4.mt-3
    %i.bi.bi-globe-europe-africa &nbsp;
    By Location
  %ul.nav.nav-pills.fw-semibold.mb-3.ms-3
    %li.nav-item
      %button.nav-link.active{
        "data-bs-target": "#landing-countries",
        "data-bs-toggle": "pill",
        type: "button",
        "aria-label": "Show landing page visits by country",
        tabindex: 0,
      } Landing Page Visits
    %li.nav-item
      %button.nav-link{
        "data-bs-target": "#registration-countries",
        "data-bs-toggle": "pill",
        type: "button",
        "aria-label": "Show registrations by country",
        tabindex: 0,
      } Registrations
  .tab-content
    #landing-countries.tab-pane.show.active
      - if @landing_page_visits_by_country.blank?
        = render("partials/reporter/reporter_dashboard_no_data")
      - else
        = render("partials/reporter/reporter_dashboard_country_table",
                 table_header: ["Country", "Landing Page Visits"],
                 table_contents: @landing_page_visits_by_country)
    #registration-countries.tab-pane
      - if @registrations_by_country.blank?
        = render("partials/reporter/reporter_dashboard_no_data")
      - else
        = render("partials/reporter/reporter_dashboard_country_table",
                 table_header: ["Country", "Registrations"],
                 table_contents: @registrations_by_country)
  %hr.mt-3
  %h2.fs-4.mt-3
    %i.bi.bi-bar-chart-line-fill &nbsp;
    Engagement
  %ul.nav.nav-pills.fw-semibold.mb-3.ms-3
    %li.nav-item
      %button.nav-link.active{
        "data-bs-target": "#engagement-features",
        "data-bs-toggle": "pill",
        type: "button",
        "aria-label": "Show engagement for each feature",
        tabindex: 0,
      } Features
    %li.nav-item
      %button.nav-link{
        "data-bs-target": "#engagement-pricing",
        "data-bs-toggle": "pill",
        type: "button",
        "aria-label": "Show engagement for each pricing option",
        tabindex: 0,
      } Pricing
  .tab-content
    #engagement-features.tab-pane.show.active
      - if @app_features_engagement.blank?
        = render("partials/reporter/reporter_dashboard_no_data")
      - else
        = render("partials/reporter/reporter_dashboard_table",
                 table_header: ["Feature Name", "Shares"],
                 table_contents: @app_features_engagement)
    #engagement-pricing.tab-pane
      - if @subscription_tiers_engagement.blank?
        = render("partials/reporter/reporter_dashboard_no_data")
      - else
        = render("partials/reporter/reporter_dashboard_table",
                 table_header: ["Pricing Tier", "Clicks"],
                 table_contents: @subscription_tiers_engagement)
