%section.row.align-items-center
  %h1.fw-bold.display-6.mb-3 Reporter Dashboard
  %hr.mt-3
  %ul.nav.nav-pills.fw-semibold.mb-3.ms-3
    %li.nav-item
      %button.nav-link.active{ "data-bs-target": "#today-tab", "data-bs-toggle": "pill", type: "button" } Day
    %li.nav-item
      %button.nav-link{ "data-bs-target": "#week-tab", "data-bs-toggle": "pill", type: "button" } Week
    %li.nav-item
      %button.nav-link{ "data-bs-target": "#month-tab", "data-bs-toggle": "pill", type: "button" } Month
    %li.nav-item
      %button.nav-link{ "data-bs-target": "#all-time-tab", "data-bs-toggle": "pill", type: "button" } All Time
  .tab-content
    #today-tab.tab-pane.show.active
      = render("partials/reporter_dashboard_cards_tab",
               landing_page_visits: @landing_page_visits_today,
               registrations: @registrations_today,
               time_period: "Today")
    #week-tab.profile.tab-pane
      = render("partials/reporter_dashboard_cards_tab",
               landing_page_visits:  @landing_page_visits_this_week,
               registrations: @registrations_this_week,
               time_period: "This Week")
    #month-tab.tab-pane
      = render("partials/reporter_dashboard_cards_tab",
               landing_page_visits:  @landing_page_visits_this_month,
               registrations: @registrations_this_month,
               time_period: "This Month")
    #all-time-tab.tab-pane
      = render("partials/reporter_dashboard_cards_tab",
               landing_page_visits: @landing_page_visits_all_time,
               registrations: @registrations_all_time,
               time_period: "All Time")
  %hr.mt-3
  %h4.fw-semibold.mt-3
    %i.bi.bi-globe-europe-africa &nbsp;
    By Location
  %ul.nav.nav-pills.fw-semibold.mb-3.ms-3
    %li.nav-item
      %button.nav-link.active{
        "data-bs-target": "#landing-countries",
        "data-bs-toggle": "pill",
        type: "button",
      } Landing Page Visits
    %li.nav-item
      %button.nav-link{
        "data-bs-target": "#registration-countries",
        "data-bs-toggle": "pill",
        type: "button",
      } Registrations
  .tab-content
    #landing-countries.tab-pane.show.active
      = render("partials/reporter_dashboard_country_table",
               table_header: ["Country", "Amount"],
               table_contents: @landing_page_visits_by_country)
    #registration-countries.tab-pane
      = render("partials/reporter_dashboard_country_table",
               table_header: ["Country", "Amount"],
               table_contents: @registrations_by_country)
  %hr.mt-3
  %h4.fw-semibold
    %i.bi.bi-bar-chart-line-fill &nbsp;
    Engagement
  %ul.nav.nav-pills.fw-semibold.mb-3.ms-3
    %li.nav-item
      %button.nav-link.active{
        "data-bs-target": "#engagement-features",
        "data-bs-toggle": "pill",
        type: "button",
      } Features
    %li.nav-item
      %button.nav-link{
        "data-bs-target": "#engagement-pricing",
        "data-bs-toggle": "pill",
        type: "button",
      } Pricing
  .tab-content
    #engagement-features.tab-pane
      = render("partials/reporter_dashboard_table",
               table_header: ["Feature Name", "Shares"],
               table_contents: [["dasdsaddsasdad sadsa d s sdadsd sad", "32"]])
    #engagement-pricing.tab-pane.show.active
      = render("partials/reporter_dashboard_table",
               table_header: ["Pricing Option", "Clicks"],
               table_contents: [["dasdsaddsasdad sadsa d s sdadsd sad", "32"]])
