-# Questions dropdown section
= append_javascript_pack_tag("scriptpacks/faq")
= render("partials/layouts/page_title", page_title: "FAQ")
%section#faq-container.align-items-center
  %h2.text-center.text-lg-start.py-3 Recently Asked by Users
  - @questions.each_with_index do |question, index|
    .accordion.pb-3{ id: "accordion-#{index}" }
      .accordion-item
        .accordion-header{ id: "heading-#{index}" }
          %button.accordion-button.collapsed.roamio-header{
            id: "question_#{question.id}",
            type: "button",
            "data-bs-toggle": "collapse",
            "data-bs-target": "#collapse-#{index}",
            "data-id": question.id,
            "aria-expanded": "false",
            "aria-controls": "collapse-#{index}",
            tabindex: 0,
          }
            = question.question
        .accordion-collapse.collapse{
          id: "collapse-#{index}",
          "aria-labelledby": "question_#{question.id}",
          "data-bs-parent": "#accordion-#{index}",
        }
          .accordion-body
            %p
              %strong Answer:
              = question.answer || "No answer yet"
  %hr
  %h2.text-center.text-lg-start.py-3
    Got a question? Submit it here!
  = render("partials/questions/form", question: @question, errors: @errors)
