-# Background pattern image for header
.position-absolute.top-0.start-0.w-100.overflow-hidden.border-bottom
  #home-bg

-# Section header for my trips
.d-flex.flex-column.my-3
  -#
    Change text colour depending on if the user has any tips
    No trips -> show text-primary against bg-light background
    Trips -> text-light against an image background
  - text_class = @trips.present? ? "text-light" : "text-primary"
  %h4.fw-semibold{ class: "#{text_class} z-3" }
    My Trips

-# Without this wrapper, slider freaks out and sets the width of the slides to 0.333px
%div
  -# Latest trips carousel
  .latest-trips-carousel.home-carousels.swiper
    .swiper-wrapper
      - if @trips.present?
        - @trips.each_with_index do |trip|
          .swiper-slide
            = render("partials/trips/trip_card", trip: trip)
      - else
        -# Show card for no trips, directing the user to create a trip
        .swiper-slide
          = render("partials/home/no_trips_card")
    .swiper-button-prev
      %i.bi.bi-chevron-left
    .swiper-button-next
      %i.bi.bi-chevron-right

-# Quick Links
.d-flex.gap-3.mb-3.mt-5
  = render("partials/home/quick_link_button",
           path: new_trip_path,
           icon: "bi-plus-square",
           title: "Create Trip",
           description: "Start your adventure")

  = render("partials/home/quick_link_button",
           path: trips_path(view: "list"),
           icon: "bi-geo",
           title: "Trips",
           description: "View all trips past and present")

  = render("partials/home/quick_link_button",
           path: trips_path(view: "map"),
           icon: "bi-map",
           title: "Map",
           description: "View all trips on a map")

-# Featured locations carousel
- if @featured_locations.present?
  -# Section header for featured locations
  %hr
  %h4.fw-semibold.mb-3 Explore Destinations
  .featured-locations-carousel.home-carousels.swiper.mb-3
    .swiper-wrapper
      - @featured_locations.each do |location|
        .swiper-slide
          = render("partials/home/featured_location_card", location: location)
    .swiper-button-prev
      %i.bi.bi-chevron-left
    .swiper-button-next
      %i.bi.bi-chevron-right

%hr

%h5.fw-semibold.mb-3 Enjoying Roamio? Invite a Friend!
.d-flex.flex-column.gap-3.mb-5.align-items-stretch
  = render("partials/home/referral", errors: @errors, email: @referral_email)
