-# Hero section
%section.row.align-items-center.py-5
  .col-lg-6.text-center.text-lg-start
    %h1.display-5.fw-bold.lh-1.mb-3
      All your trip
      %br
      One simple space
    %p.fw-semibold
      Roamio is a collaborative way to manage tickets, bookings, and activities
    = link_to("#", class: "btn btn-primary btn-lg d-lg-none fw-semibold mb-3") do
      %i.bi.bi-compass &nbsp;
      Join the travel revolution
  .col-lg-6.d-flex.justify-content-center.my-0
    %img.img-fluid{ alt: "", loading: "lazy", height: "500", width: "500" }

-# About section
%section.row.align-items-center.py-5.px-4.bg-primary
  .col-lg-6.text-center.text-lg-start
    %h2.display-6.fw-bold.lh-1.mb-3
      No more searching through files, emails, and group chats
    %p.fw-semibold
      All your travel plans, instantly accessible
  .col-lg-6

-# Features carousel section
%section.row.align-items-center.py-5.gap-4
  %h2.text-center.text-lg-start.fw-bold.lh-1
    Seamless travel, organised
  .swiper.features-carousel
    .swiper-wrapper
      - 10.times do
        .swiper-slide.d-flex.justify-content-center
          = render("partials/carousel_feature_slide",
                   feature: "View Trip Timeline",
                   description: "Access the timeline of your trip, this is quite an important feature")
    .swiper-button-prev
    .swiper-button-next
    .swiper-scrollbar

-# About section
%section.row.align-items-center.py-5.px-4.bg-light
  .col-lg-6.text-center.text-lg-start
    %h2.display-6.fw-bold.lh-1.mb-3
      Built for You, Shaped by Your Feedback
    %p.fw-semibold.text-secondary
      Your feedback drives our design
  .col-lg-6

-# Reviews carousel section
%section.row.align-items-center.py-5.gap-4
  %h2.text-center.text-lg-start.fw-bold
    Trusted by travellers
  .swiper.reviews-carousel
    .swiper-wrapper
      - @reviews.each do |review|
        .swiper-slide.d-flex.justify-content-center
          = render("partials/carousel_review_slide",
                   review_obj: review)
    .swiper-button-prev
    .swiper-button-next
    .swiper-scrollbar
  %h3.text-center.text-lg-start.fw-bold
    Enjoy using Roamio? Leave a review
  = render("reviews/form", review: @review, errors: @errors)

= render("partials/feature_social_share_offcanvas")
