.d-flex.flex-fill.justify-content-center.align-items-center
  .pb-5.mb-5.text-center.text-lg-start
    %h1.fw-bold Hello! You've caught us early
    %p.text-secondary
      We're working to make Roamio available for wider release.
      Register your interest, and you'll be the first to know!
    .mt-4
      %div{ class: ("is-invalid" if flash[:email_error]) }
        = simple_form_for([:api, @registration],
                          html: { class: "mb-0 d-flex gap-2 flex-column flex-lg-row " }) do |f|
          = f.hidden_field(:subscription_tier_id, value: params[:s_id])
          .w-100
            = f.input(:email,
                      input_html: { class: "form-control #{"is-invalid" if flash[:email_error]}" },
                      label: false,
                      placeholder: "Enter your email",
                      required: true)
          = button_tag(type: "submit", class: "btn btn-primary text-nowrap fw-bold") do
            %i.bi.bi-bell &nbsp;
            Notify Me
      .invalid-feedback
        = flash[:email_error]
