.d-flex.flex-fill.justify-content-center.align-items-center
  .pb-5.mb-5.text-center.text-lg-start
    %h1.fw-bold Hello! You've caught us early
    %p.text-secondary
      We're working to make Roamio available for wider release.
      Register your interest, and you'll be the first to know!
    .mt-4.text-start
      = turbo_frame_tag(@registration) do
        = simple_form_for([:api, @registration],
                          html: { class: "mb-0 d-flex gap-2 flex-column flex-lg-row align-items-start" },
                          builder: ValidatedFormBuilder) do |f|
          = f.hidden_field(:subscription_tier_id, value: params[:s_id])
          = f.validated_input(:email,
                              flash[:email_error],
                              placeholder: "Enter your email",
                              value: flash[:current_email],
                              required: true,
                              class: "w-100")
          = button_tag(type: "submit", class: "btn btn-primary text-nowrap fw-bold", style: "margin-top: 1.75rem") do
            %i.bi.bi-bell &nbsp;
            Notify Me
