- content_for(:title, "Log In")

.d-flex.justify-content-center.align-items-center.min-vh-100
  .card.login-card
    .card-body
      .container
        .d-flex.flex-column.align-items-center
          = link_to("/", class: "mt-4") do
            = image_pack_tag("images/roamio_brand_icon_l_grey.png", height: 40)
          %h2.text-secondary.mt-2
            Sign In

      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-inputs.py-2
          = f.input(:email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email", placeholder: "Email address", class: "mb-3" },
                    label: false)
          = f.input(:password,
                    required: false,
                    input_html: { placeholder: "Password", class: "mb-3", autocomplete: "new-password" },
                    label: false)
        .form-actions.d-flex.justify-content-end
          = f.button(:submit,
                     "Sign In",
                     class: "btn btn-primary")
      .d-flex.flex-column
        = render("devise/shared/links")
