- content_for(:title, "Log In")

%h2 Log in

= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form-inputs
    = f.input(:email,
              required: false,
              autofocus: true,
              input_html: { autocomplete: "email" })

    = f.input(:password,
              required: false,
              input_html: { autocomplete: "new-password" })

  .form-actions
    = f.button(:submit, "Log in")

= render("devise/shared/links")

%h3 Send Magic Login Link

= form_with(url: send_magic_link_path, method: :post) do |f|
  .form-inputs
    = f.email_field(:email,
                    placeholder: "Enter your email",
                    required: true)

    = f.select(:user_role,
               options_for_select(User.user_roles.values),
               { include_blank: "Role" },
               { required: true })

  .form-actions
    = f.submit("Send Magic Link")
