.col-lg-6.m-auto
  %h2.mt-3 Set up your account

  = simple_form_for(resource,
                    as: resource_name,
                    url: invitation_path(resource_name),
                    builder: ValidatedFormBuilder,
                    errors: resource.errors.to_hash(true),
                    html: { method: :put }) do |f|
    .form-inputs
      = f.hidden_field(:invitation_token)

      = f.validated_input(:username,
                          required: true,
                          autofocus: true)

      = f.validated_input(:password,
                          label: "New Password",
                          required: false,
                          autocomplete: "new-password")

      = f.validated_input(:password_confirmation,
                          label: "New Password Confirmation",
                          required: false,
                          autocomplete: "new-password")

    .form-actions.mt-4.d-flex.justify-content-end.gap-2
      = f.button(:submit, "Confirm Your Account", class: "btn-primary px-4")
