.feature-slide
  .card.mb-2
    = image_pack_tag("images/placeholder_ios_screen.webp", class: "card-img", alt: "", width: 225, height: 489)
    .card-img-overlay
  %h3.share-feature-name.display-8{ id: "feature-title-#{app_feature_obj.id}" }
    = app_feature_obj.name
  %p.fs-6.share-feature-description.text-secondary{ id: "feature-desc-#{app_feature_obj.id}" }
    = app_feature_obj.description
  %button.share-feature-button.btn.btn-secondary{
    id: "share_#{app_feature_obj.id}",
    data: { "share-id": app_feature_obj.id },
    "aria-labelledby": "feature-title-#{app_feature_obj.id} share_#{app_feature_obj.id}",
    "aria-describedby": "feature-desc-#{app_feature_obj.id}",
    tabindex: 0,
  }
    %i.bi.bi-share-fill{ "aria-hidden": "true" } &nbsp;
    Share Feature
    .visually-hidden To Social Media Button
