%p Hi #{@resource.email}!

%p
  Someone has invited you to be a #{User.user_roles[@resource.user_role]} at #{root_url},
  you can accept it through the link below.

= link_to(t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@resource, invitation_token: @token))

- if @resource.invitation_due_at
  %p
    This invitation will expire on
    #{l(@resource.invitation_due_at, format: :"devise.mailer.invitation_instructions.accept_until_format")}

%p If you don't want to accept the invitation, please ignore this email.
%p Your account won't be created until you access the link above and set your password.
