= turbo_frame_tag(review) do
  = simple_form_for([:api, review],
                    builder: ValidatedFormBuilder,
                    is_form_submitted: errors.present?,
                    html: { class: "d-flex flex-column gap-2" }) do |f|
    = f.validated_input(:name,
                        get_formatted_errors(errors, :name),
                        class: "fw-semibold",
                        placeholder: "Enter your name...")
    = f.validated_input(:content,
                        get_formatted_errors(errors, :content),
                        class: "fw-semibold",
                        rows: 3,
                        placeholder: "Enter your review...")

    .d-flex.justify-content-end
      = button_tag(type: "submit", class: "btn btn-secondary fw-bold") do
        %i.bi.bi-send-fill
        &nbsp;
        Submit Review

  %div{ data: { "turbo-toast": true, "notifications": flash[:notifications].to_json } }
  - flash.discard(:notifications)
