- unless errors.nil?
  .alert.alert-danger
    %ul.mb-0
      - errors.each do |error|
        %li= error

= simple_form_for(review, html: { class: "d-flex flex-column gap-2" }) do |f|
  = f.input(:name,
            input_html: { class: "fw-semibold" },
            label: false,
            placeholder: "Enter your name...")
  = f.input(:content,
            as: :text,
            input_html: { class: "fw-semibold", rows: 3 },
            label: false,
            placeholder: "Enter your review...")

  .d-flex.justify-content-end
    = button_tag(type: "submit", class: "btn btn-secondary fw-bold") do
      %i.bi.bi-send-fill
      &nbsp;
      Submit Review
