- unless errors.nil?
  .alert.alert-danger
    %ul.mb-0
      - errors.each do |error|
        %li= error

= simple_form_for(plan, html: { class: "d-flex flex-column gap-2" }) do |f|
  = f.input(:title,
            input_html: { class: "fw-semibold" },
            label: false,
            placeholder: "Enter the title of the plan...",
            required: true)
  = f.select(:plan_type,
             Plan.plan_types.keys.map { |name| [name.humanize.titleize, name] },
             { prompt: "Select plan type" },
             class: "form-select fw-semibold",
             required: true)

  #start-location-autocomplete
  #end-location-autocomplete.d-none

  #map
  = f.label(:start_date, "Start Date and Time", class: "fw-semibold")
  = f.datetime_local_field(:start_date,
                           label: "Start Date",
                           class: "form-control fw-semibold",
                           required: true)

  = f.label(:end_date, "End Date and Time", class: "fw-semibold")
  = f.datetime_local_field(:end_date,
                           class: "form-control fw-semibold")

  = f.button(:submit, "Save", class: "btn btn-primary fw-semibold")

  = f.input(:start_location_name, as: :hidden)
  = f.input(:end_location_name, as: :hidden)
  = f.input(:start_location_latitude, as: :hidden)
  = f.input(:start_location_longitude, as: :hidden)
  = f.input(:end_location_latitude, as: :hidden)
  = f.input(:end_location_longitude, as: :hidden)
