.d-flex.flex-column.flex-md-row.justify-content-md-between.mb-4
  .mb-2
    %h1.mb-0.fw-bold= @trip.title
    %p.mb-0.fs-4.fw-semibold.text-secondary
      Tickets for #{@plan.title}

  = link_to(trip_path(@trip), class: "btn btn-secondary align-self-start align-self-md-center") do
    %i.bi.bi-arrow-left &nbsp;
    Back to Trip


%p.mb-0.fs-5.text-primary= @plan.formatted_date_range
- if @plan.travel_plan?
  -# Start location and date
  .row.align-items-center.mb-3
    .col
      %p.mb-0.max-height-2-lines= @plan.start_location_name

    -# Travel icon
    .col-auto.px-4
      %h2.text-black-50
        %i{ class: @plan.travel_icon }

    -# End location and date
    .col
      %p.mb-0.text-end.max-height-2-lines= @plan.end_location_name
- else
  -# Company name
  .d-flex.gap-3.align-items-center
    %i.bi.bi-building
    %p.mb-0 Company Name

  -# Start location
  .d-flex.gap-3.align-items-center
    %i.bi.bi-geo-alt
    %p.mb-0= @plan.start_location_name

    - if @plan.scannable_tickets.any?
      -# QR codes
      #qr-code-container.d-flex.justify-content-center.align-items-center
      %h6#qr-code-text.text-center
        = @plan.scannable_tickets[0].code
      %h6#qr-code-title.text-center.fw-semibold
        = @plan.scannable_tickets[0].decorate.title_value
      #qr-navigation.mt-3
        %button#prev-btn.btn.btn-secondary{ type: "button", disabled: true } ← Prev
        %span#qr-counter
        %button#next-btn.btn.btn-secondary{ type: "button", disabled: true } Next →

      - codes = @plan.scannable_tickets.map { |ticket| { code: ticket.code, title_value: ticket.decorate.title_value } }
      %script#qr-code-data{ type: "application/json" }
        = raw(codes.to_json)

-# TODO: Make this look much better on mobile, same for trip show page
.d-flex.justify-content-center.gap-2.align-self-start
  = link_to(trip_path(@trip), class: "btn btn-light") do
    %i.bi.bi-arrow-left &nbsp;
    Back to Trip
