.card.position-relative.text-break.item{ id: "item_#{item.id}", data: { order: item.order } }
  .d-flex.flex-column.gap-2.position-absolute.top-50.start-0.translate-middle.order-arrows{
    class: ("d-none" if item.is_hidden),
  }
    %button.btn.btn-secondary.rounded-circle.p-2.order-up-arrow
      %i.bi.bi-caret-up-fill
    %button.btn.btn-secondary.rounded-circle.p-2.order-down-arrow
      %i.bi.bi-caret-down-fill

  .card-body.px-4
    .d-flex.justify-content-between.gap-2
      %p.mb-0.card-text= content

      .d-flex.gap-3.align-items-center.align-self-start.flex-shrink-0
        %p.mb-0
          = item.engagement_counter
          - if type == "review"
            %i.bi.bi-hand-thumbs-up
          - else
            %i.bi.bi-hand-index
        %form.update-visibility.mb-0{
          "action": (type == "review" ? update_visibility_path(item) : update_question_visibility_path(item)),
          method: "post",
        }
          %button.btn.btn-secondary.fw-bold
            - if item.is_hidden
              %i.bi.bi-eye-fill
            - else
              %i.bi.bi-eye-slash-fill
        - if type == "question"
          %button.btn.btn-success{ "data-bs-toggle": "modal", "data-bs-target": "#answerModal_#{item.id}" }
            Answer

    .d-flex.mt-4.justify-content-between.align-items-center
      %p.mb-0.card-text.fw-bold.text-secondary= name
      %p.mb-0.card-text.fw-semibold.text-secondary= item.created_at.to_formatted_s(:long_ordinal)
