.card.position-relative.text-break.item{ id: "item_#{item.id}" }
  - unless item.is_hidden
    .d-flex.flex-column.gap-2.position-absolute.top-50.start-0.translate-middle.order-arrows
      = form_with(url: type == "review" ? order_api_review_path(item) : order_api_question_path(item),
                  method: :post) do |f|
        = f.hidden_field(:order_change, value: -1)
        %button.btn.btn-secondary.rounded-circle.p-2.order-up-arrow
          %i.bi.bi-caret-up-fill
      = form_with(url: type == "review" ? order_api_review_path(item) : order_api_question_path(item),
                  method: :post) do |f|
        = f.hidden_field(:order_change, value: 1)
        %button.btn.btn-secondary.rounded-circle.p-2.order-down-arrow
          %i.bi.bi-caret-down-fill

  .card-body.px-4
    .d-flex.justify-content-between.gap-2
      %p.mb-0.card-text.fs-5= content

      .d-flex.gap-3.align-items-center.align-self-start.flex-shrink-0
        %p.mb-0
          = item.engagement_counter
          - if type == "review"
            %i.bi.bi-hand-thumbs-up
          - else
            %i.bi.bi-hand-index
        = form_with(url: type == "review" ? visibility_api_review_path(item) : visibility_api_question_path(item),
                    method: :post,
                    class: "mb-0") do
          %button.btn.btn-secondary.fw-bold{ id: "visibility-toggle-#{item.id}" }
            - if item.is_hidden
              %i.bi.bi-eye-fill
            - else
              %i.bi.bi-eye-slash-fill
        - if type == "question"
          %button.btn.btn-success{ id: "answer-button-#{item.id}", data: { question_id: item.id } }
            Answer

    .d-flex.mt-4.justify-content-between.align-items-end.gap-2
      - if type == "question"
        = form_with(url: answer_api_question_path(item),
                    method: :post,
                    builder: ValidatedFormBuilder,
                    id: "answer-form-#{item.id}",
                    class: "mb-0") do |f|
          = f.validated_input(:answer,
                              nil,
                              as: :text,
                              disabled: true,
                              value: name,
                              placeholder: "[Unanswered]",
                              id: "answer_#{item.id}",
                              class: "card-text fw-bold",
                              input_class: "form-control-plaintext fw-bold text-secondary resize-none pe-auto",
                              data: { default_value: name })
          = button_tag(type: "submit", class: "btn btn-secondary fw-bold d-none mt-3") do
            %i.bi.bi-send-fill
            &nbsp;
            Submit Answer

      - if type == "review"
        %p.mb-0.card-text.fw-bold.text-secondary= name
      %p.mb-0.card-text.fw-semibold.text-secondary= item.created_at.to_formatted_s(:long_ordinal)
