.card.position-relative.text-break.item{ id: "item_#{item.id}" }
  - unless item.is_hidden
    .h-100.d-flex.flex-column.gap-4.position-absolute.top-50.start-0.translate-middle.order-arrows
      .flex-grow-evenly.d-flex.align-items-end
        - unless item.first_in_order
          = form_with(url: item.order_path,
                      method: :post) do |f|
            = f.hidden_field(:order_change, value: -1)
            %button.btn.btn-secondary.rounded-circle.p-2.order-up-arrow
              %i.bi.bi-caret-up-fill
      .flex-grow-evenly.d-flex.align-items-start
        - unless item.last_in_order
          = form_with(url: item.order_path,
                      method: :post) do |f|
            = f.hidden_field(:order_change, value: 1)
            %button.btn.btn-secondary.rounded-circle.p-2.order-down-arrow
              %i.bi.bi-caret-down-fill

  .card-body.px-4
    .d-flex.justify-content-between.gap-2
      %p.mb-0.card-text.fs-5= item.content

      .d-flex.gap-3.align-items-center.align-self-start.flex-shrink-0
        %p.mb-0
          = item.engagement_counter
          %i{ class: "bi #{item.engagement_icon}" }
        = form_with(url: item.visibility_path,
                    method: :post,
                    class: "mb-0") do
          %button.btn.btn-secondary.fw-bold{ id: "visibility-toggle-#{item.id}" }
            - if item.is_hidden
              %i.bi.bi-eye-fill
            - else
              %i.bi.bi-eye-slash-fill
        - if item.question?
          %button.btn.btn-success{ id: "answer-button-#{item.id}", data: { question_id: item.id } }
            Answer

    .d-flex.mt-4.justify-content-between.align-items-end.gap-4
      - if item.question?
        = form_with(url: answer_api_question_path(item),
                    method: :post,
                    builder: ValidatedFormBuilder,
                    id: "answer-form-#{item.id}",
                    class: "mb-0 flex-grow") do |f|
          = f.validated_input(:answer,
                              nil,
                              as: :text,
                              disabled: true,
                              value: item.subcontent,
                              placeholder: "[Unanswered]",
                              id: "answer_#{item.id}",
                              class: "card-text fw-bold",
                              input_class: "form-control-plaintext fw-bold text-secondary resize-none pe-auto",
                              data: { default_value: item.subcontent })
          = button_tag(type: "submit", class: "btn btn-secondary fw-bold d-none mt-3") do
            %i.bi.bi-send-fill
            &nbsp;
            Submit Answer

      - if item.review?
        %p.mb-0.card-text.fw-bold.text-secondary= item.subcontent
      %p.mb-0.card-text.fw-semibold.text-secondary= item.created_at.to_formatted_s(:long_ordinal)
