%html{ lang: "en-GB" }
  %head
    %title Project

    %meta{ "http-equiv": "content-type", content: "text/html; charset=utf-8" }
    %meta{ "http-equiv": "X-UA-Compatible", content: "IE=edge" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0, shrink-to-fit=no" }

    - if content_for(:description)
      %meta{ content: content_for(:description), name: "description" }

    %title= ["Project", content_for(:title)].compact.join(" - ")

    = csrf_meta_tags
    = csp_meta_tag

    -# Allows us to separate scripts/styles out into multiple packs, and only load them when required.
    = stylesheet_pack_tag("stylepacks/application", *get_style_paths(@style_packs), media: "all")
    = javascript_pack_tag("scriptpacks/application", *get_script_paths(@script_packs))

    %link{ rel: "preconnect", href: "https://rsms.me/" }
    %link{ rel: "stylesheet", href: "https://rsms.me/inter/inter.css" }

  %body
    %header.navbar.sticky-top.navbar-expand-lg.bg-light.mb-3
      .container
        = link_to("/", class: "navbar-brand") do
          = image_pack_tag("images/roamio_brand_logo_d_grey.png", height: 40)
        %button.navbar-toggler.collapsed{
          type: :button,
          data: {
            bs_toggle: :collapse,
            bs_target: "#navbar-content",
          },
          aria: {
            controls: "navbar-content",
            expanded: "false",
            label: "Toggle navigation",
          },
        }
          %span.toggler-icon.top-bar
          %span.toggler-icon.middle-bar
          %span.toggler-icon.bottom-bar
        #navbar-content.navbar-collapse.collapse
          %nav.navbar-nav.fw-semibold.text-center
            = link_to("#", class: "nav-link") do
              FAQ
            = link_to("#", class: "nav-link") do
              Reviews
            = link_to("#", class: "nav-link") do
              Pricing
          .d-flex.ms-auto.gap-2.flex-column.flex-lg-row
            %hr.d-flex.d-lg-none.my-1
            - if user_signed_in?
              = link_to(destroy_user_session_path,
                        class: "btn btn-secondary fw-semibold d-flex justify-content-center",
                        method: :delete) do
                Sign out
            - else
              = link_to(new_user_session_path,
                        class: "btn btn-secondary fw-semibold d-flex justify-content-center",
                        method: :get) do
                Log in
              = link_to("#", class: "btn btn-primary fw-semibold d-flex justify-content-center gap-1") do
                %i.bi.bi-compass &nbsp;
                Join the travel revolution


    - if flash.present?
      .container-fluid.flash-messages
        - flash.each do |message_type, message|
          - next unless message_type == "alert" || message_type == "notice"

          .alert{ class: "alert-#{message_type == "notice" ? "success" : "danger"}" }= message



    %main
      .container
        = yield

    %footer.bg-primary
      .container
        .d-flex.flex-column
          = link_to("/", class: "mt-4") do
            = image_pack_tag("images/roamio_brand_icon_l_grey.png", height: 40)
          %p.text-secondary.mt-2
            &copy; 2024 Roamio & Genesys Team 02. All rights reserved
          %hr

    #js-variables{ data: @js_data ? @js_data : {} }
