%html{ lang: "en-GB" }
  %head
    = render("layouts/head", style_packs: @style_packs, script_packs: @script_packs)

  %body
    -# Render any necessary toasts
    = render("layouts/toasts")

    %main
      = render("layouts/desktop_sidebar", inbox_count: @inbox_count)
      #content.d-flex.flex-column.flex-fill
        = render("layouts/mobile_navigation", inbox_count: @inbox_count)
        %footer.border-top
          .container
            .d-flex.flex-column
              = link_to(root_path, class: "mt-4") do
                = image_pack_tag("images/roamio_brand_icon_l_grey.png", height: 24)
              %small.text-secondary.my-2
                &copy; 2025 Roamio & Genesys Team 02. All rights reserved

    #js-variables{ data: @js_data || flash[:js_data] || {} }
    - flash.discard(:js_data) # Discard flash messages after use to prevent them from being shown twice
